name: Xcode Tests

on:
  pull_request:

env:
  XCODE_VERSION: "16.4"

jobs:
  native-unit-tests:
    strategy:
      matrix:
        platform: [iOS]
        scheme: [mParticle-Apple-Media-SDK, mParticle-Apple-Media-SDK-NoLocation]
        include:
          - platform: iOS
            device: iPhone 16 Pro
    runs-on: macOS-15
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode_${{ env.XCODE_VERSION }}.app

      - name: Run iOS unit tests
        run: xcodebuild -project mParticle-Apple-Media-SDK.xcodeproj -scheme ${{ matrix.scheme }} -destination 'platform=${{ matrix.platform }} Simulator,name=${{ matrix.device }},OS=latest' test